.container {
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.text {
    text-align: center;
    align-items: center;
    margin-top:1%;
    font-size: 1.3em;
    font-family: 'Open Sans', sans-serif;
}
.imageContainer {
    align-items:center;
    margin-left: 20%;
    transition: transform .2s; /* Animation */
}
.icon {
    display: inline-block;
    transition: transform .2s; /* Animation */
  }
  .icon:hover{ 
      /* box-shadow: 20px 8px 20px grey;
     -webkit-transition:  box-shadow .2s ease-in;
     opacity: .8; */
     transform: scale(1.5)
   }
  
  
   @media only screen and (max-width: 650px) {
    .container {
        align-items: center;
        text-align: center;
        justify-content: space-between;
    }
    .text {
        text-align: center;
        align-items: center;
        margin-top:1%;
        font-size: 1.0em;
    }
    .imageContainer {
        margin-right: 2%;
        align-items:center;
        margin-left: 20%;
        transition: transform .2s; /* Animation */
    }
    .icon {
        display: inline-block;
        transition: transform .2s; /* Animation */
      }
      .icon:hover{ 
          /* box-shadow: 20px 8px 20px grey;
         -webkit-transition:  box-shadow .2s ease-in;
         opacity: .8; */
         transform: scale(1.5)
       }
      
}
